<p>formarrayexamples works!</p>

<!-- <div *ngFor="let product of arrayformControls; let i = index">
  <div
    (click)="productClicked($event, i)"
  >
    {{ product.get("product").value.productName }}
  </div>
</div> -->

<!-- <div *ngFor="let product of arrayformControls; let i = index">
  <div>
    {{ product.get("product").value.productName }}
    <input type="text" (keyup)="productKeUpChange($event, i, val.value)" #val />
  </div>
</div> -->

<form [formGroup]="uploadformGroup">
  <div *ngFor="let p of arrayformControls; let i = index" >
    <div
    
    >
      {{ p.get("product").value.productName }}
      <input type="text" (keyup)="aaa($event, i)" >
    </div>
  </div>
</form>

 