<div class="module-wrapper">
  <h5>Test Examples</h5>
  <h5>Products List From Api</h5>

  <div *ngFor="let product of products">
    <div>{{ product.productName }} - {{ product.id }}</div>
    <input type="text" #val /><button
      (click)="changeName(product, val.value, $event)"
    >
      Change
    </button>
  </div>

  <div >
    <img [src]="this.urlFromServerForImage" style="width:5rem;height: 5rem;">
  </div>

  <div *ngFor="let test of testArray" style="cursor: pointer;" (click)="showFunction(test.id)">
    <div style="display: flex;">
    <div style="width: 5rem;">{{test.id}}</div>
    <div>{{test.name}}</div>
    </div>
  </div>

  <div class="example-wrapper">
    <h5>Form Array</h5>
    <form [formGroup]="profileFormArray" (ngSubmit)="addAlias($event)">
      <div formArrayName="aliases">
        <h2>Aliases</h2>
        <button type="submit" [disabled]="!aliases.valid">
          + Add another alias
        </button>
        <div *ngFor="let alias of aliases.controls; let i = index">
          <!-- The repeated alias template -->
          <label for="alias-{{ i }}">Alias:</label>
          <input id="alias-{{ i }}" type="text" [formControlName]="i" />
        </div>
      </div>
    </form>
  </div>

  <br />

</div>
