<div class="module-wrapper">
  <h5>Test Examples</h5>

  <div class="example-wrapper">
    <h5>Form Array</h5>
    <form
      [formGroup]="profileFormArray"
      (ngSubmit)="checkArrayOfProductsInForm($event)"
    >
      <div formArrayName="productsForm">
        <button type="submit" [disabled]="!productsForm.valid">
          Submit changes and assign from form to products array
        </button>
        <div *ngFor="let p of productsForm.controls; let i = index">
          <!-- The repeated alias template -->
          <div>Id:{{ this.products[i].id }}</div>
          <input
            type="text"
            [formControlName]="i"
            (keyup)="changeIndexOfProduct(i)"
          />
        </div>
      </div>
    </form>
  </div>

  <br />

  <div *ngFor="let product of products">
    <div>{{ product.productName }} - {{ product.id }}</div>
    <input type="text" #val /><button
      (click)="changeName(product, val.value, $event)"
    >
      Change
    </button>
  </div>

  <div>
    <img [src]="this.urlFromServerForImage" style="width: 5rem; height: 5rem" />
  </div>

  <br />

  <div
    *ngFor="let test of testArray"
    style="cursor: pointer"
    (click)="showFunction(test.id)"
  >
    <div style="display: flex">
      <div style="width: 5rem">{{ test.id }}</div>
      <div>{{ test.name }}</div>
    </div>
  </div>
</div>
