<p>formarrayexamples2 works!</p>

  <div *ngFor="let p of arrayformControls; let i = index"  >
    <div>   
      Product Name :{{ p.get('productName').value}}
      <input type="text" (keyup.enter)="formGroupArraySubmit($event, i )"  />
    </div>
  </div>

<!--====================================================================================================-->
<!--====================================================================================================-->
<!--====================================================================================================-->
<!--====================================================================================================-->
<!--====================================================================================================-->
<!--====================================================================================================-->
<!--====================================================================================================-->
<!--====================================================================================================-->
<!-- <div *ngFor="let p of arrayformControls; let i = index"  >
    <div>   
      Product Name :{{ p.get('productName').value}}
      <input type="text" (keyup.enter)="formGroupArraySubmit($event, i )"  />
    </div>
  </div> -->
<!-- <div class="example-wrapper">
    <h5>Nested Form Group In Form Group</h5>
    <form [formGroup]="profileForm" (ngSubmit)="address($event)">
      <label for="state">lastName: </label>
      <input id="state" type="text" formControlName="lastName" />
      <br />
  
      <label for="zip">firstName: </label>
      <input id="zip" type="text" formControlName="firstName" />
  
      <div formGroupName="address">
        <h5>Address Form Group In Form Group</h5>
        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street" />
        <br />
  
        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city" />
        <br />
  
        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state" />
        <br />
  
        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zip" />
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
  
  <div class="example-wrapper">
    <h5>Form Builder</h5>
    <form [formGroup]="form" (ngSubmit)="onSubmitFormBuilder($event)">
      <label for="first-name">fieldOne: </label>
      <input id="first-name" type="text" formControlName="fieldOne" />
  
      <label for="last-name">fieldTwo: </label>
      <input id="last-name" type="text" formControlName="fieldTwo" />
  
      <label for="last-name">fieldThree: </label>
      <input id="last-name" type="text" formControlName="fieldThree" />
  
      <label for="last-name">added: </label>
      <input id="last-name" type="text" formControlName="added" />
  
      <button type="submit" [disabled]="!form.valid">Submit</button>
    </form>
    <br />
  </div> -->


