<div class="component-wrapper">
  <h5>Activate Examples</h5>
  <div class="example wrapper">
    <nav>
      <a [routerLink]="['component-one']">Navigate To Guarded Component One</a
      ><br />
      <a [routerLink]="['component-two']">Navigate To Guarded Component Two</a
      ><br />
    </nav>

    <div style="margin-top: 10px">
      Can activate:
      <input
        #canactivate
        type="checkbox"
        (change)="checkboxChanged(canactivate.checked)"
      />
    </div>
    <p>
      Try navigating to component two. It is prevented until checkbox is
      checked.
    </p>
  </div>
</div>
